body {
	/* background-image: url("https://www.headcurve.com/wp-content/uploads/2019/08/hair-salon-aug202019-min.jpg"); */
	background-repeat: no-repeat;
	background-color: #cccccc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.center{
	text-align: center;
}

#header {
	top: 50px;
	height: 70px;
	z-index: 997;
	transition: all 0.5s;
	padding: 10px 0;
	background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
	background: transparent;
}

#header.header-scrolled {
	top: 0;
	background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: black;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}

@media (max-width: 992px) {
	#header {
		top: 0;
		background: rgba(26, 24, 22, 0.85);
	}
}

/* Desktop Navigation */
.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	float: left;
}

.nav-menu a {
	display: block;
	position: relative;
	color:  black;
	padding: 9px 14px;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
	color: #0645AD;
	text-decoration: none;
}

.nav-menu .home-button a {
	background: #0645AD;
	color: #fff;
	border-radius: 50px;
	margin: 0 0 0 20px;
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s;
}

.nav-menu .home-button a:hover {
	background: #074196;
	color: #fff;
}

@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover > ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down > a:after {
		content: '\ea9d';
	}
}