@{
  Layout = "_Layout";
}

<style>
  body {
    background-image: url("https://www.chabaso.com/wp-content/uploads/2018/11/Group-8.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
  }

  h1 {
    font-size: 80px;
    text-align: center;
  }
</style>

<h1>Welcome to Noel's bakery!</h1>