@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>Add a new treat</h1>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new treat"/>
}