@{
  Layout = "_Layout";
}

@model ToDoList.Models.Flavor

<h1>Add a new flavor</h1>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new flavor"/>
}